#chat-message {
/*  width: 400px;*/
    width: 80%;
  height: 20px;
  font-size: 12px; 
}

#party-line {
    cursor: pointer;
}

#chat-content{
    display: none;
}

#messages {
    font-size: 12px;
 /*   width: 450px;*/
    height: 80px;
    overflow: auto;
    border: 1px solid rgb(230, 230, 230);
    margin: 0px 0px 10px 0px;
}

#chatbox {
position: absolute;
  bottom: 0;
}